@use '@/shared/styles/variables' as *;
@use '@/shared/styles/breakpoints' as *;
@use '@/shared/styles/mixins' as *;

.footer {
  background-color: $color-black;
  color: $color-white;
  padding: 5.5rem 0 3.5rem;

  @include mobile {
    padding: 3rem 0 2rem;
  }
}

.container {
  @include container;
}

.upper {
  @include flex-between;
  margin-bottom: 3.5rem;

  @include mobile {
    margin-bottom: 2rem;
  }
}

.logo {
  @include flex(flex-start, center);
  gap: $spacing-sm;
  text-decoration: none;
  color: $color-white;
}

.logoIcon {
  width: 4.0625rem;
  height: 4.0625rem;

  @include mobile {
    width: 2.875rem;
    height: 2.875rem;
  }
}

.logoText {
  font-family: $font-family-poppins;
  font-size: 1.875rem;
  font-weight: $font-weight-semibold;
  line-height: 1.3;
  color: $color-white;

  @include mobile {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
}

.navDesktop {
  @include mobile {
    display: none;
  }
}

.navMobile {
  display: none;

  @include mobile {
    display: block;
    margin-bottom: 2rem;
  }
}

.navList {
  @include flex(flex-end, center);
  gap: 4.375rem;
  list-style: none;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
  }
}

.navLink {
  font-family: $font-family-inter;
  font-size: 1.114rem;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  color: $color-gray-300;
  text-decoration: none;
  text-transform: capitalize;
  transition: color $transition-fast;

  &:hover {
    color: $color-white;
  }

  @include mobile {
    font-size: $font-size-sm;
    line-height: 1.35;
    text-transform: uppercase;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba($color-white, 0.1);
  margin-bottom: 3.5rem;

  @include mobile {
    margin-bottom: 1.5rem;
  }
}

.lower {
  @include flex-between;

  @include mobile {
    justify-content: center;
  }
}

.copyright {
  font-family: $font-family-inter;
  font-size: 1.0625rem;
  font-weight: $font-weight-medium;
  line-height: 1.5625rem;
  color: $color-gray-350;

  small {
    font-size: inherit;
  }

  @include mobile {
    font-size: $font-size-sm;
    line-height: 1rem;
  }
}

.copyrightFull {
  display: none;
  color: $color-gray-350;

  @include mobile {
    display: inline;
  }
}

.socialsDesktop {
  @include flex(flex-end, center);
  gap: 2.5rem;

  @include mobile {
    display: none;
  }
}

.socialsMobile {
  display: none;

  @include mobile {
    @include flex(flex-end, center);
    gap: 0.625rem;
  }
}

.socialLink {
  @include flex-center;
  color: $color-gray-650;
  transition: color $transition-normal;

  &:hover,
  &:active {
    color: $color-white;
  }

  svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.socialsMobile .socialLink svg {
  width: 1.0625rem;
  height: 1.0625rem;
}
